{% extends 'base.html' %}

{% block title %}{{ gettext('Create pattern') }} &mdash; {{ gettext('Textile Platform') }}{% endblock %}

{% block header %}
    <h1>{{ gettext('Create pattern') }}</h1>
{% endblock %}

{% block content %}
<div id="columns">
    <div class="card">
        <form enctype="multipart/form-data" method="POST">
            <h2>{{ gettext('Create DB-WEAVE Pattern') }}</h2>
            <div class="field">
                <label for="weave_name">{{ gettext('Name') }}</label>
                <input type="text" name="name" id="weave_name" required aria-required="true" value="{{ request['name'] }}">
            </div>
            <div class="field">
                <label for="weave_width">{{ gettext('Width') }}</label>
                <input type="number" min="1" name="width" required aria-required="true" id="weave_width" value="{{ request['width'] or 300 }}">
            </div>
            <div class="field">
                <label for="weave_height">{{ gettext('Height') }}</label>
                <input type="number" min="1" name="height" required aria-required="true" id="weave_height" value="{{ request['height'] or 300 }}">
            </div>
            <input type="hidden" name="pattern_type" value="DB-WEAVE Pattern"/>
            <div class="actions left">
                <button type="submit" class="btn primary">{{ gettext('Create') }}</button>
            </div>
        </form>
    </div>

    <div class="card">
        <form enctype="multipart/form-data" method="POST">
            <h2>{{ gettext('Create JBead Pattern') }}</h2>
            <div class="field">
                <label for="bead_name">{{ gettext('Name') }}</label>
                <input type="text" name="name" id="bead_name" required aria-required="true" value="{{ request['name'] }}">
            </div>
            <div class="field">
                <label for="bead_width">{{ gettext('Circumference') }}</label>
                <input type="number" min="1" name="width" required aria-required="true" id="bead_width" value="{{ request['width'] or 12 }}">
            </div>
            <div class="field">
                <label for="bead_height">{{ gettext('Height') }}</label>
                <input type="number" min="1" name="height" required aria-required="true" id="bead_height" value="{{ request['height'] or 200 }}">
            </div>
            <input type="hidden" name="pattern_type" value="JBead Pattern"/>
            <div class="actions left">
                <button type="submit" class="btn primary">{{ gettext('Create') }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
