{% extends 'base.html' %}

{% block title %}{{ gettext('Delete pattern') }} {{ pattern.label }} &mdash; {{ gettext('Textile Platform') }}{% endblock %}

{% block header %}
    <h1>{{ gettext('Delete pattern') }} {{ pattern.label }}</h1>
{% endblock %}

{% block content %}
<div class="card card-form">
    <form enctype="multipart/form-data" method="POST">
        <p>{{ gettext('Do you really want to delete this pattern?')}}</p>
        <div class="actions left">
            <button type="submit" class="btn danger">{{ gettext('Delete') }}</button>
            <a class="btn" href="{{ url_for('user', user_name=g.user.name) }}">{{ gettext('Cancel') }}</a>
        </div>
    </form>
</div>
{% endblock %}
