{% extends 'base.html' %}

{% block headext %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jbead.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jbead.js') }}"></script>
{% endblock %}

{% block header %}
    <h1 id="title">
        {% if readonly and user.name != "beispiele" and user.name != "examples" %}
            {{ user.label }}:
        {% endif %}
        {{ pattern.label }}
    </h1>
{% endblock %}

{% block content %}
    <input type="hidden" id="user" value="{{user.name}}"/>
    <input type="hidden" id="origin" value="{{origin}}"/>
    <input type="hidden" id="pattern" value="{{pattern.name}}"/>
    <input type="hidden" id="viewer" value="{{g.user.name if g.user else ''}}"/>
    <input type="hidden" id="darkmode" value="{{g.user.darkmode if g.user else 'False'}}"/>
    <input type="hidden" id="readonly" value="{{readonly}}"/>

    <div id="header">
        {% if not readonly %}
            <img
                id="public"
                {% if pattern.public %}
                    src="{{url_for('static', filename='img/icons/icon-public.svg')}}"
                    title="{{ gettext('Public - visible to all users') }}"
                {% else %}
                    src="{{url_for('static', filename='img/icons/icon-private.svg')}}"
                    title="{{ gettext('Private - not visible to other users') }}"
                {% endif %}
                height="26px"
                class="icon"/>
        {% endif %}
        {% if readonly and g.user %}
            <div id="clone">{{ gettext('Clone') }}</div>
        {% elif g.user %}
            <div id="modified" class="unchanged">&nbsp;</div>
            <div id="save">{{ gettext('Save') }}</div>
        {% endif %}
        <div id="close">{{ gettext('Close') }}</div>
    </div>

    <div id="container">
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}
