{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('Groups') }}</h1>
{% endblock %}

{% block content %}
<style>
#groups {
    max-width: 60rem;
}
#groups a {
    display: block;
}
.group {
    display: flex;
}
.group_name {
    width: 18rem;
    margin-right: 1rem;
}
.group_label {
    flex-grow: 2;
}
{% if g.user and g.user.darkmode %}
.group:hover { background: #333; }
{% else %}
.group:hover { background: #ccc; }
{% endif %}
</style>
    <div id="groups">
        {% for group in groups %}
            <a class="action" href="{{ url_for('edit_group',
                                               group_name=group.name) }}">
                <div class="group">
                    <div class="group_name">
                        {{ group.name }}
                    </div>
                    <div class="group_label">
                        {{ group.label }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
