{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('Log in') }}</h1>
{% endblock %}

{% block content %}
<style>
input[type=text] { width: 20rem; }
input[type=password] { width: 20rem; }
</style>
  <form method="post">
      <label for="email">{{ gettext('E-Mail') }}</label>
    <input type="text" name="email" id="email" required>
    <label for="password">{{ gettext('Password') }}</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="{{ gettext('Log in') }}">
  </form>
  <a href="{{ url_for('recover') }}">{{ gettext('Recover password') }}</a>
{% endblock %}
