{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('All Patterns') }}</h1>
{% endblock %}

{% block content %}
<style>
#patterns {
    max-width: 60rem;
}
.pattern {
    display: flex;
    justify-content: left;
    padding: 0.4rem 0;
}
.pattern:hover {
    background: #ccc;
}
.user_name {
    width: 20rem;
}
.pattern_name {
    width: 30rem;
}
</style>
    <div id="patterns">
        {% for user in users %}
            {% for pattern in user.mypatterns %}
                <div class="pattern">
                    <div class="user-name">{{ user.name }}</div>
                    <div class="patter-name">{{ pattern.name }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
