{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('All Patterns') }}</h1>
{% endblock %}

{% block content %}
<style>
#patterns {
    max-width: 65rem;
}
.pattern {
    display: flex;
}
.pattern:hover {
    background: #ccc;
}
.user-name {
    width: 20rem;
    margin-right: 1rem;
}
.pattern-name {
    width: 30rem;
    margin-right: 1rem;
}
</style>
    <div id="patterns">
        {% for user in users %}
            {% for pattern in user.mypatterns %}
                <div class="pattern">
                    <div class="user-name">
                        {{ user.name }}
                    </div>
                    <div class="pattern-name">
                        <a href="{{ url_for('edit_pattern', user_name=user.name, pattern_name=pattern.name) }}">{{ pattern.name }}</a>
                    </div>
                    <div class="pattern-actions">
                        <a class="action" href="{{ url_for('source_pattern', user_name=user.name, pattern_name=pattern.name) }}">Source</a>
                        <a class="action" href="{{ url_for('download_pattern', user_name=user.name, pattern_name=pattern.name) }}">Download</a>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
