{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('Profile') }}</h1>
{% endblock %}

{% block content %}
<style>
#email {
    width: 30rem;   
}
#save {
    width: 6rem;
}
</style>
  <form id="profile-form" method="post">
    <label for="email">{{ gettext('E-Mail') }}</label>
    <input name="email" id="email" required value="{{ user.email }}">
    <div>
        <input type="checkbox" name="darkmode" id="darkmode" {% if user.darkmode %}checked{% endif %}>
        <label for="darkmode" class="inline">{{ gettext('Dark mode') }}</label>
    </div>
    <button id="save">{{ gettext('Save') }}</button>
  </form>
  <div><a class="button" href="{{ url_for('logout') }}">{{ gettext('Log out') }}</div>
  <script>
      document.getElementById("save").addEventHandler("click", e => {
        document.getElementById("profile-form").submit();
      });
  </script>
{% endblock %}
