{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('Reset Passwort') }}</h1>
{% endblock %}

{% block content %}
<div class="card card-form">
    <form method="post">
        <p>{{ gettext('Please enter your e-mail address. We will send you an e-mail with instructions for resetting your password') }}</p>
        <div class="field">
            <label for="email">{{ gettext('E-Mail') }}</label>
            <input type="text" name="email" id="email" required value="{{ request.form['email'] }}">
        </div>
        <div class="actions left">
            <button type="submit" class="btn primary">{{ gettext('Send') }}</button>
        </div>
    </form>
</div>
{% endblock %}
