{% extends 'base.html' %}

{% block header %}
    <h1>{{ gettext('Reset Password') }}</h1>
{% endblock %}

{% block content %}
<div class="card card-form">
    <form method="post">
        <p>{{ gettext('Please choose a new password for your account.') }}</p>
        <div class="field">
            <label for="password">{{ gettext('Password') }}</label>
            <input name="password" id="password" type="password" required value="{{ request.form['password'] }}">
        </div>
        <div class="actions left">
            <button type="submit" class="btn primary">{{ gettext('Save') }}</button>
        </div>
    </form>
</div>
{% endblock %}
