{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('Reset Passwort') }}</h1>
{% endblock %}

{% block content %}
<style>
input[type=text] { width: 20rem; }
</style>
  <form method="post">
      <p>{{ gettext('Please enter your e-mail address. We will send you an e-mail with instructions for resetting your password') }}</p>
      <label for="email">{{ gettext('E-Mail') }}</label>
    <input type="text" name="email" id="email" required value="{{ request.form['email'] }}">
    <input type="submit" value="{{ gettext('Send') }}">
  </form>
{% endblock %}
