{% extends 'base.html' %}

{% block title %}{{ gettext('Upload pattern') }} &mdash; {{ gettext('Textile Platform') }}{% endblock %}

{% block header %}
    <h1>{{ gettext('Upload pattern') }}</h1>
{% endblock %}

{% block content %}
<div class="card card-narrow">
    <form enctype="multipart/form-data" method="POST">
        <div class="field">
            <label for="name">{{ gettext('Name') }}</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="field">
            <label for="file">{{ gettext('Pattern File') }}</label>
            <input id="file" name="file" type="file" multiple required aria-required="true"
                   accept=".dbw,.jbb,.json,application/json"
                   aria-describedby="file-help">
            <small id="file-help" class="field-help">{{ gettext('Accepted formats: .dbw, .jbb, .json') }}</small>
        </div>
        <div class="actions left">
            <button type="submit" class="btn primary">{{ gettext('Upload') }}</button>
        </div>
    </form>
</div>
{% endblock %}
