{% extends 'base.html' %}

{% block header %}
    <h1>{{ gettext('Upload pattern') }}</h1>
{% endblock %}

{% block content %}
<div class="card card-narrow">
    <form enctype="multipart/form-data" method="POST">
        <div class="field">
            <label for="name">{{ gettext('Name') }}</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="field">
            <label for="file">{{ gettext('Pattern File') }}</label>
            <input id="file" name="file" type="file" multiple>
        </div>
        <div class="actions left">
            <button type="submit" class="btn primary">{{ gettext('Upload') }}</button>
        </div>
    </form>
</div>
{% endblock %}
