{% extends 'base.html' %}

{% block header %}
    <h1>{{ user.label }}</h1>
{% endblock %}

{% block content %}
<style>
#filter {
    margin: 0;
    display: flex;
    flex-direction: row;
}
#filter input[type=text] {
    outline: 0;
    height: 1.5rem;
    margin: 0;
    max-width: 35rem;
    flex-grow: 1;
    margin-right: 1rem;
}
#filter .filtertext {
    height: 1.5rem;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
}
#patterns {
    max-width: 60rem;
}
#patterns a {
    display: block;
}
.pattern {
    display: flex;
}
.pattern_name {
    width: 30rem;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-x: hidden;
    margin-right: 1rem;
}
.pattern_info {
    display: flex;
    padding: 0 0.3rem 0 0;
}
.pattern_public {
    width: 6rem;
    margin-right: 1rem;
}
.pattern_delete {
    width: 5rem;
    padding-left: 1rem;
    text-align: center;
}
{% if g.user and g.user.darkmode %}
#filter input[type=text] {
    border: 1px solid #666;
    background: #777;
}
#filter input[type=submit] {
    border: 1px solid #666;
    background: #777;
}
.pattern:hover { background: #cae6f6; }
{% else %}
#filter input[type=text] {
    border: 1px solid #ccc;
    background: #ddd;
}
.pattern:hover { background: #222; }
{% endif %}
</style>
    <div id="header">
        <div class="button">
            <a href="{{ url_for('create_pattern') }}">
                {{ gettext('New Pattern') }}
            </a>
        </div>
        <div class="button">
            <a href="{{ url_for('upload_pattern') }}">
                {{ gettext('Upload Pattern') }}
            </a>
        </div>
        <div class="button">
            <a href="{{ url_for('edit_groups') }}">
                {{ gettext('Groups') }}
            </a>
        </div>
        {% if g.user and g.user.name == 'superuser' %}
        <div class="button">
            <a href="{{ url_for('users') }}">
                {{ gettext('Users') }}
            </a>
        </div>
        <div class="button">
            <a href="{{ url_for('patterns') }}">
                {{ gettext('All Patterns') }}
            </a>
        </div>
        {% endif %}
    </div>
    <div id="filter">
        <span class="filtertext">Filter </span><input type="text" id="filter-query" value=""/>
    </div>
    <div id="patterns">
        {% for pattern in patterns %}
            <div class="pattern">
                <div class="pattern_name">
                    <a class="action"
                       href="{{ url_for('edit_pattern',
                                        user_name=g.user.name,
                                        pattern_name=pattern.name) }}">
                        {{ pattern.label }}
                    </a>
                </div>
                <div class="pattern_info">
                    <div class="pattern_public">
                        <a class="action"
                           href="">
                            {{ gettext('Public') if pattern.public else gettext('Private') }}
                        </a>
                    </div>
                    <div class="pattern_delete">
                        <a class="action"
                           href="{{ url_for('delete',
                                            pattern_name=pattern.name) }}">
                            {{ gettext('Delete') }}
                        </a>
                    </div>
                    <div class="pattern_type">
                        {{ gettext(pattern.pattern_type) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        document.getElementById("filter-query").addEventListener("change", (e) => {
            const query = e.target.value;
            const terms = query.toLowerCase().split(/ +/);
            const patterns = document.getElementsByClassName("pattern");
            for (let i = 0; i < patterns.length; i++) {
                const pattern = patterns[i];
                if (query === "") {
                    pattern.style.display = "flex";
                } else {
                    const name = pattern.getElementsByClassName("pattern_name")[0].innerText;
                    const type = pattern.getElementsByClassName("pattern_type")[0].innerText;
                    const visibility = pattern.getElementsByClassName("pattern_public")[0].innerText;
                    const text = name.toLowerCase() + " " + type.toLowerCase() + " " + visibility.toLowerCase();
                    let matches = true;
                    for (let term of terms) {
                        if (text.indexOf(term) === -1) {
                            matches = false;
                            pattern.style.display = "none";
                            break;
                        }
                    }
                    if (matches) {
                        pattern.style.display = "flex";
                    }
                }
            }
        });
        document.getElementById("filter-query").focus();
    </script>
{% endblock %}
