{% extends 'base.html' %}

{% block header %}
<h1>{{ user.label }}</h1>
{% endblock %}

{% block content %}
<style>
#patterns {
    max-width: 60rem;
}
#patterns a {
    display: block;
}
.patterns-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.3rem;
}
.pattern {
    display: flex;
}
.pattern_name {
    width: 30rem;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-x: hidden;
    margin-right: 1rem;
}
.pattern_info {
    display: flex;
    padding: 0 0.3rem 0 0;
}
{% if g.user and g.user.darkmode %}
.pattern:hover { background: #222; }
{% else %}
.pattern:hover { background: #cae6f6; }
{% endif %}
</style>
    <div id="patterns">
    {% for membership in user.memberships %}
    {% if membership.group.name == user.name %}

    {% set weave_patterns = membership.group.weave_patterns(public=True) %}
    {% if weave_patterns %}
    <div class="patterns-label" data-group-name="{{ membership.group.name }}">
        {{ gettext('DB-WEAVE Patterns') }}
    </div>
    {% for pattern in weave_patterns %}
    <div class="pattern" data-group-name="{{ membership.group.name }}">
        <div class="pattern_name">
            <a class="action"
               href="{{ url_for('edit_pattern',
                                user_name=pattern.owner.name,
                                pattern_name=pattern.name) }}">
                {{ pattern.label }}
            </a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% set bead_patterns = membership.group.bead_patterns(public=True) %}
    {% if bead_patterns %}
    <div class="patterns-label" data-group-name="{{ membership.group.name }}">
        {{ gettext('JBead Patterns') }}
    </div>
    {% for pattern in bead_patterns %}
    <div class="pattern" data-group-name="{{ membership.group.name }}">
        <div class="pattern_name">
            <a class="action"
               href="{{ url_for('edit_pattern',
                                user_name=pattern.owner.name,
                                pattern_name=pattern.name) }}">
                {{ pattern.label }}
            </a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% endif %}
    {% endfor %}
    </div>
{% endblock %}
