{% extends 'base.html' %}

{% block title %}{{ gettext('Verification successful') }} &mdash; {{ gettext('Textile Platform') }}{% endblock %}

{% block header %}
<h1>{{ gettext('Verification successful') }}</h1>
{% endblock %}

{% block content %}
<div class="card card-form">
    <p>{{ gettext('Your account is now verified. Please log in.') }}</p>
    <div class="actions left">
        <a class="btn primary" href="{{ url_for('login') }}">{{ gettext('Log in') }}</a>
    </div>
</div>
{% endblock %}
