@font-face {
    font-family: carlito;
    src: url("../fonts/Carlito-Regular.ttf")
}
@font-face {
    font-family: carlito;
    font-weight: bold;
    src: url("../fonts/Carlito-Bold.ttf")
}
@font-face {
    font-family: carlito;
    font-style: italic;
    src: url("../fonts/Carlito-Italic.ttf")
}
@font-face {
    font-family: carlito;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Carlito-BoldItalic.ttf")
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

div, ul, ol, li, dl, dt, dd { display: block; padding: 0; margin: 0; }
li { display: list-item; margin-left: 0; }
table { border-spacing: 0; }

html { font-family: Calibri, carlito, sans-serif; background: #eee; }
body { background: white; margin: 0; padding: 0; }
h1 { font-size: 1.5rem; color: black; margin: 1rem 0; }
a { color: #08619d; font-weight: bold; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; height: 3rem; }
nav h1 { flex: auto; margin: 0; font-size: 1.7rem; color: black; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; color: black; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav h1 a img { position: relative; top: 0.3rem; }
a { text-decoration: none; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; text-decoration: none; }
.content { width: 100%; height: calc(100vh - 3rem); }
.content > header { display: flex; align-items: flex-end; height: 2.5rem; }
.content > header h1 { flex: auto; margin: 0; padding-left: 1rem; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content label.inline { font-weight: normal; display: inline-block; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; height: 70vh; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
th { vertical-align: top; text-align: left; }
td { vertical-align: top; padding-right: 1.5rem; margin-right: 1.5rem; }
td { white-space: nowrap; }
h2 { font-size: 1.2rem; font-weight: bold; }
h3 { font-size: 1.2rem; font-weight: normal; text-decoration: underline; }
h4 { font-size: 1.2rem; font-variant: small-caps; }

#patterns {
    margin: 0 1rem;
    max-width: 60rem;
}

.pattern {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
}

.pattern_name {
    flex-grow: 2;
    padding: 0.3rem 0.3rem 0.3rem 0;
}

#patterns a {
    display: block;
}

.pattern_info {
    display: flex;
    padding: 0.3rem 0.3rem;
}

.pattern_public {
    width: 5rem;
    padding-left: 1rem;
    text-align: center;
}

.pattern_delete {
    width: 5rem;
    padding-left: 1rem;
    text-align: center;
}

.pattern_type {
    width: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: right;
}

.pattern:hover {
    background: #cae6f6;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0.3rem 0.3rem;
}

#buttons {
    display: flex;
}

#buttons button {
    margin: 0 0 0 0.5rem;
    padding: 0 2.5rem;
    height: auto;
}

#columns {
    margin: 0 1rem;
    display: flex;
    justify-content: space-around;
}

#weave_name, #bead_name {
    width: 25rem;
}

#weave_width, #weave_height, #bead_width, #bead_height {
    width: 10rem;
}

img.icon.selected {
    outline: 2px solid black;
}

#users {
    margin: 0 1rem;
    max-width: 60rem;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
}

.user:hover {
    background: #ccc;
}

.user_name {
    width: 25rem;
    padding: 0.3rem 0.3rem 0.3rem 0;
}

.user_label {
    flex-grow: 2;
    padding: 0.3rem 0.3rem 0.3rem 0;
}

#users a {
    display: block;
}
