{% extends 'base.html' %}

{% block headext %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jbead.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jbead.js') }}"></script>
{% endblock %}

{% block header %}
    <h1 id="title">
        {% if readonly %}
            {{ user.name }}:
        {% endif %}
        {{ pattern.name }}
    </h1>
{% endblock %}

{% block content %}
    <input type="hidden" id="user" value="{{user.name}}"/>
    <input type="hidden" id="pattern" value="{{pattern.name}}"/>
    <input type="hidden" id="viewer" value="{{g.user.name if g.user else ''}}"/>
    <input type="hidden" id="darkmode" value="{{g.user.darkmode if g.user else 'False'}}"/>
    <input type="hidden" id="readonly" value="{{readonly}}"/>

    <div id="header">
        <div>
            {% if not readonly %}
                <input id="public" type="checkbox" {% if pattern.public %}checked{% endif %}>
                {{ gettext('Public') }}
            {% endif %}
        </div>
        <div id="buttons">
            {% if readonly and g.user %}
                <button id="clone">{{ gettext('Clone') }}</button>
            {% elif g.user %}
                <button id="save">{{ gettext('Save') }}</button>
            {% endif %}
            <button id="close">{{ gettext('Close') }}</button>
        </div>
    </div>

    <div id="container">
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}
