{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('Profile') }}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">{{ gettext('E-Mail') }}</label>
    <input name="email" id="email" required value="{{ user.email }}">
    <div>
        <input type="checkbox" name="darkmode" id="darkmode" {% if user.darkmode %}checked{% endif %}>
        <label for="darkmode" class="inline">{{ gettext('Dark mode') }}</label>
    </div>
    <input type="submit" value="{{ gettext('Save') }}">
  </form>
  <p><a href="{{ url_for('auth.logout') }}">{{ gettext('Log out') }}</p>
{% endblock %}
