{% extends 'base.html' %}

{% block header %}
<h1>{{ user.label }}</h1>
{% endblock %}

{% block content %}
    <div id="user_info">
        <div><div class="info_label">name:</div><div>{{ user.name }}</div></div>
        <div><div class="info_label">label:</div><div>{{ user.label }}</div></div>
        <div><div class="info_label">email:</div><div>{{ user.email }}</div></div>
        <div><div class="info_label">locale:</div><div>{{ user.locale }}</div></div>
    </div>

    <h2 class="with-margin">{{ gettext('Patterns') }}</h2>

    <div id="patterns">
        {% for pattern in patterns %}
            <div class="pattern">
                <div class="pattern_name">
                    {{ pattern.name }}
                </div>
                <div>{{ pattern.pattern_type }}</div>
                <div>{{ pattern.created }}</div>
                <div>{{ pattern.modified }}</div>
                <div>{{ pattern.public }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
