<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
        <title>{{ gettext('Textile Platform') }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% if g.user and g.user.darkmode %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dark.css') }}">
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.min.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block headext %}{% endblock %}
    </head>
    <body>
        <nav>
            <h1>
                <a href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='img/icons/icon.png') }}">
                </a>
                {% if user %}
                <a href="{{ url_for('main.user', user_name=user.name) }}">
                    {{ user.label }}
                </a>
                {% else %}
                    {{ gettext('Textile Platform') }}
                {% endif %}
                {% block context %}{% endblock %}
            </h1>
            <ul>
            {% if g.user %}
                <li><a href="{{ url_for('main.profile') }}">{{ g.user.label }}</a>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">{{ gettext('Register') }}</a>
                <li><a href="{{ url_for('auth.login') }}">{{ gettext('Log in') }}</a>
            {% endif %}
            </ul>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>

            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% block content %}{% endblock %}
        </section>
    </body>
</html>
