{% extends 'base.html' %}

{% block headext %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dbweave.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dbweave.js') }}"></script>
{% endblock %}

{% block header %}
    <h1 id="title">
        {% block title %}
            {% if readonly %}
                {{ user.name }}:
            {% endif %}
            {{ pattern.name }}
        {% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <input type="hidden" id="user" value="{{user.name}}"/>
    <input type="hidden" id="pattern" value="{{pattern.name}}"/>
    <input type="hidden" id="viewer" value="{{g.user.name if g.user else ''}}"/>
    <input type="hidden" id="darkmode" value="{{g.user.darkmode if g.user else 'False'}}"/>
    <input type="hidden" id="readonly" value="{{readonly}}"/>

    <div id="container">
        <canvas id="canvas"></canvas>
    </div>

    <div id="footer">
        <div>
            {% if not readonly %}
                <input id="public" type="checkbox" {% if pattern.public %}checked{% endif %}>
                {{ gettext('Public') }}
            {% endif %}
            <img
                id="icon-weave-draft"
                {% if pattern.pattern['weave_style'] == 'draft' %}class="icon selected"{% else %}class="icon"{% endif %}
                height="26px"
                src="{{ url_for('static', filename='img/icons/icon-weave-draft.svg')}}"/>
            <img
                id="icon-weave-color"
                {% if pattern.pattern['weave_style'] == 'color' %}class="icon selected"{% else %}class="icon"{% endif %}
                height="26px"
                src="{{ url_for('static', filename='img/icons/icon-weave-color.svg')}}"/>
            <img
                id="icon-weave-simulation"
                {% if pattern.pattern['weave_style'] == 'simulation' %}class="icon selected"{% else %}class="icon"{% endif %}
                height="26px"
                src="{{ url_for('static', filename='img/icons/icon-weave-simulation.svg')}}"/>
            <img
                id="icon-weave-empty"
                {% if pattern.pattern['weave_style'] == 'empty' %}class="icon selected"{% else %}class="icon"{% endif %}
                height="26px"
                src="{{ url_for('static', filename='img/icons/icon-weave-empty.svg')}}"/>
        </div>
        <div id="buttons">
            {% if readonly and g.user %}
                <button id="clone">{{ gettext('Clone') }}</button>
            {% elif g.user %}
                <button id="save">{{ gettext('Save') }}</button>
            {% endif %}
            <button id="close">{{ gettext('Close') }}</button>
        </div>
    </div>
{% endblock %}
