{% extends 'base.html' %}

{% block headext %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dbweave.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dbweave.js') }}"></script>
{% endblock %}

{% block header %}
    <h1 id="title">{{ pattern.name }}</h1>
{% endblock %}

{% block content %}
    <input type="hidden" id="user" value="{{user.name}}"/>
    <input type="hidden" id="pattern" value="{{pattern.name}}"/>
    <input type="hidden" id="viewer" value="{{g.user.name if g.user else ''}}"/>
    <input type="hidden" id="darkmode" value="{{g.user.darkmode if g.user else 'False'}}"/>
    <input type="hidden" id="readonly" value="{{readonly}}"/>

    <div id="header">
        <img
            id="icon-weave-draft"
            {% if pattern.pattern['weave_style'] == 'draft' %}class="icon selected"{% else %}class="icon"{% endif %}
            height="26px"
            title="{{ gettext('Draft view') }}"
            src="{{ url_for('static', filename='img/icons/icon-weave-draft.svg')}}"/>
        <img
            id="icon-weave-color"
            {% if pattern.pattern['weave_style'] == 'color' %}class="icon selected"{% else %}class="icon"{% endif %}
            height="26px"
            title="{{ gettext('Color view') }}"
            src="{{ url_for('static', filename='img/icons/icon-weave-color.svg')}}"/>
        <img
            id="icon-weave-simulation"
            {% if pattern.pattern['weave_style'] == 'simulation' %}class="icon selected"{% else %}class="icon"{% endif %}
            height="26px"
            title="{{ gettext('Simulation view') }}"
            src="{{ url_for('static', filename='img/icons/icon-weave-simulation.svg')}}"/>
        <img
            id="icon-weave-empty"
            {% if pattern.pattern['weave_style'] == 'empty' %}class="icon selected"{% else %}class="icon"{% endif %}
            height="26px"
            title="{{ gettext('Empty view') }}"
            src="{{ url_for('static', filename='img/icons/icon-weave-empty.svg')}}"/>

        {% if not readonly %}
            <div id="range-selector">
                <div id="current-range" title="{{ gettext('Active range') }}">{{ gettext('Range 1') }}</div>
                <div id="ranges">
                    <div id="range1" class="current">{{ gettext('Range 1') }}</div>
                    <div id="range2">{{ gettext('Range 2') }}</div>
                    <div id="range3">{{ gettext('Range 3') }}</div>
                    <div id="range4">{{ gettext('Range 4') }}</div>
                    <div id="range5">{{ gettext('Range 5') }}</div>
                    <div id="range6">{{ gettext('Range 6') }}</div>
                    <div id="range7">{{ gettext('Range 7') }}</div>
                    <div id="range8">{{ gettext('Range 8') }}</div>
                    <div id="range9">{{ gettext('Range 9') }}</div>
                    <div id="range10">{{ gettext('Aushebung') }}</div>
                    <div id="range11">{{ gettext('Anbindung') }}</div>
                    <div id="range12">{{ gettext('Abbindung') }}</div>
                </div>
            </div>

            <img
                id="public"
                {% if pattern.public %}
                    src="{{url_for('static', filename='img/icons/icon-public.svg')}}"
                    title="{{ gettext('Public - visible to all users') }}"
                {% else %}
                    src="{{url_for('static', filename='img/icons/icon-private.svg')}}"
                    title="{{ gettext('Private - not visible to other users') }}"
                {% endif %}
                height="26px"
                class="icon"/>
        {% endif %}
        {% if readonly and g.user %}
            <div id="clone">{{ gettext('Clone') }}</div>
        {% elif g.user %}
            <div id="save">{{ gettext('Save') }}</div>
        {% endif %}
        <div id="close">{{ gettext('Close') }}</div>
    </div>

    <div id="container">
        <canvas id="canvas"></canvas>
    </div>

{% endblock %}
