{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ user.label }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="patterns">
        {% for pattern in patterns %}
            <a class="action" href="{{ url_for('main.edit_pattern',
                                                   user_name=pattern.owner,
                                                   pattern_name=pattern.name) }}">
                <div class="pattern">
                    <div class="pattern_name">
                        {{ pattern.name }}
                    </div>
                    <div class="pattern_type">
                        {{ gettext(pattern.pattern_type) }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
