{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ user.display }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="patterns">
        {% for pattern in patterns %}
            <div class="pattern">
                <div class="pattern_name">
                    {{ pattern.name }}
                </div>
                <div class="pattern_type">
                    {{ pattern.type_label() }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

