{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ user.label }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="patterns">
        {% for pattern in patterns %}
            <a class="action" href="{{ url_for('main.edit_pattern',
                                               user_name=g.user.name,
                                               pattern_name=pattern.name) }}">
                <div class="pattern">
                    <div class="pattern_name">
                            {{ pattern.name }}
                    </div>
                    <div class="pattern_info">
                        <div class="pattern_public">
                            {{ gettext('Public') if pattern.public else gettext('Private') }}
                        </div>
                        <div class="pattern_type">
                            {{ gettext(pattern.pattern_type) }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

        <p>
            <a class="action" href="{{ url_for('main.upload_pattern') }}">
                {{ gettext('Upload Pattern') }}
            </a>
        </p>

        <p>
            <a class="action" href="{{ url_for('main.create_pattern') }}">
                {{ gettext('New Pattern') }}
            </a>
        </p>
    </div>
{% endblock %}
