{% extends 'base.html' %}

{% block header %}
<h1>{{ gettext('Create Account') }}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">{{ gettext('Name') }}</label>
    <input name="name" id="name" required value="{{ request.form['name'] }}">
    <label for="email">{{ gettext('E-Mail') }}</label>
    <input name="email" id="email" required value="{{ request.form['email'] }}">
    <label for="password">{{ gettext('Password') }}</label>
    <input type="password" name="password" id="password" required value="{{ request.form['password'] }}">
    <input type="submit" value="{{ gettext('Create') }}">
  </form>
{% endblock %}
