@font-face {
    font-family: carlito;
    src: url("../fonts/Carlito-Regular.ttf")
}
@font-face {
    font-family: carlito;
    font-weight: bold;
    src: url("../fonts/Carlito-Bold.ttf")
}
@font-face {
    font-family: carlito;
    font-style: italic;
    src: url("../fonts/Carlito-Italic.ttf")
}
@font-face {
    font-family: carlito;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Carlito-BoldItalic.ttf")
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

div, ul, ol, li, dl, dt, dd { display: block; padding: 0; margin: 0; }
li { display: list-item; margin-left: 0; }
table { border-spacing: 0; }

html { font-family: Calibri, carlito, sans-serif; background: #eee; }
body { background: white; margin: 0; padding: 0; }
h1 { font-size: 1.5rem; color: black; margin: 1rem 0; }
a { color: #08619d; font-weight: bold; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; height: 3rem; }
nav h1 { flex: auto; margin: 0; font-size: 1.7rem; color: black; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; color: black; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav h1 a img { position: relative; top: 0.3rem; }
a { text-decoration: none; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; text-decoration: none; }
.content { width: 100%; height: calc(100vh - 3rem); margin: 0 1rem 0.5rem 1rem; }
.content > header { display: flex; align-items: flex-end; height: 2.5rem; }
.content > header h1 { flex: auto; margin: 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content label.inline { font-weight: normal; display: inline-block; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; height: 70vh; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; }
th { vertical-align: top; text-align: left; }
td { vertical-align: top; padding-right: 1.5rem; margin-right: 1.5rem; }
td { white-space: nowrap; }
h2 { font-size: 1.2rem; font-weight: bold; }
h3 { font-size: 1.2rem; font-weight: normal; text-decoration: underline; }
h4 { font-size: 1.2rem; font-variant: small-caps; }

.with-margin { margin: 0 1rem; }

#header {
    display: flex;
    height: 2.5rem;
    margin: 0 0;
}

#header img {
    cursor: pointer;
}

#header .button {
    height: 26px;
    background: #ddd;
    border: 1px solid #ccc;
    margin: 0 0.3rem 0 0;
}

#header .button a {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    color: #000;
}

#clone, #save, #close {
    height: 26px;
    border: 1px solid #ccc;
    background: #ddd;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

#clone:hover, #save:hover, #close:hover {
    outline: none;
    border: 1px solid #ccc;
    background: #eee;
}

#range-selector {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
#current-range {
    width: 5.5rem;
    height: 26px;
    margin: 0 0 0 0.3rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    background: #ddd;
}
#current-range:hover {
    background: #eee;
}
#ranges {
    position: absolute;
    top: 26px;
    left: 0.3rem;
    display: none;
    flex-direction: column;
}
#ranges div {
    border: 1px solid #ccc;
    background: #ddd;
    padding: 0.2rem 0.5rem;
}
#ranges div.current {
    background: #fff;
}
#ranges div:hover {
    background: #eee;
}

#color-selector {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
#current-color {
    width: 26px;
    height: 26px;
    margin: 0 0 0 0.3rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    background: #ddd;
}
#colors {
    position: absolute;
    top: 26px;
    left: 0.3rem;
    display: none;
    flex-direction: column;
}
#colors div {
    border: 1px solid #ccc;
    background: #ddd;
    padding: 0.2rem 0.5rem;
}
#colors div.current {
    outline: 2px solid #999;
}

#layout-selector {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
#current-layout {
    width: 2.2rem;
    height: 26px;
    margin: 0 0 0 0.3rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    background: #ddd;
}
#current-layout:hover {
    background: #eee;
}
#layouts {
    position: absolute;
    top: 26px;
    left: 0.3rem;
    display: none;
    flex-direction: column;
}
#layouts div {
    border: 1px solid #ccc;
    background: #ddd;
    padding: 0.2rem 0.5rem;
}
#layouts div.current {
    background: #fff;
}
#layouts div:hover {
    background: #eee;
}

#view-options-selector {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
#view-options-menu {
    height: 26px;
    margin: 0 0 0 0.3rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    background: #ddd;
}
#view-options-menu:hover {
    background: #eee;
}
#view-options {
    position: absolute;
    top: 26px;
    left: 0.3rem;
    display: none;
    flex-direction: column;
}
#view-options div {
    border: 1px solid #ccc;
    background: #ddd;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}
#view-options div.checked {
    background: #fff;
}
#view-options div:hover {
    background: #eee;
}

#public, #save, #close, #clone, #zoom-in {
    margin-left: 0.3rem;
}

.icon:hover, .icon:hover {
    background: #eee;
}

#buttons {
    display: flex;
}

#buttons button {
    margin: 0 0 0 0.5rem;
    padding: 0 2.5rem;
    height: auto;
}

#mylink, #weave_patterns, #bead_patterns {
    margin: 2rem 0 0 0;
}

#weave_name, #bead_name {
    width: 25rem;
}

#weave_width, #weave_height, #bead_width, #bead_height {
    width: 10rem;
}

img.icon.selected {
    outline: 2px solid #666;
    margin: 0 2px;
}

.hidden {
    display: none;
}
